node_modules

/.wrangler
/build
.env
.dev.vars

*.log
*.pid
/.cache
.react-router/
*.tsbuildinfo

/db/sqlite.db

#
# remix and cloudflare files
#
/public/build
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/metafile.*
/functions/version.txt

#
# PRIVATE FILES
#
private-*
