node_modules
pre-commit

/.wrangler
/build
.env
.dev.vars

*.log
*.pid
/.cache
.react-router/

/db/sqlite.db


#
# remix and cloudflare files
#
/public/build
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/metafile.*
/functions/version.txt

#
# PRIVATE FILES
#
private-*
