name: Prettier
on:
  merge_group:
    types: [checks_requested]
  pull_request:

permissions:
  contents: read

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}
          # This is important to fetch the changes to the previous commit
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@35dace0375d89e25e78db5f0a44127b61f4e5c20 # v47

      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # @v2
        if: steps.changed-files.outputs.any_changed == 'true'

      - run: bun ci
        if: steps.changed-files.outputs.any_changed == 'true'

      - name: format
        if: steps.changed-files.outputs.any_changed == 'true'
        run: bun prettier -c --ignore-unknown ${{ steps.changed-files.outputs.all_changed_files }}

  test:
    runs-on: ubuntu-latest
    steps:
      - name: placeholder
        run: echo OK
